/* -----RESETEO----- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
}











/* ----HEADER----- */

/* MOBILE VERSION */

@media (min-width: 320px) {



    header {
        background-color: white;
    }

    header .header__logo {
        display: flex;
        justify-content: center;
    }

    .header__logo img {
        width: 200px;
        height: auto;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    header nav {
        background-color: white;
        margin-bottom: 50px;
    }

    :root {
        --bs-nav-link-color: white;
    }

    .nav-item {
        color: var(--bs-nav-link-color);
    }


}


/* --------MAIN-------- */

/* imagenes principales */



@media (min-width: 320px) {



    body p {
        margin-bottom: 0;
    }

    body {
        font-family: Helvetica, Arial, sans-serif;
    }



/* Index Imgs */

    .images__index {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .block1, .block2 {
        width: 300px;
        height: 200px;
        background-color: #452b1a;
    }

    .block3, .block4, .block5 {
        width: 300px;
        height: 200px;
        background-color: #afd3ed;
    }

    .block6, .block7{
        width: 300px;
        height: 200px;
        background-color: #452b1a;
    }


}

@media (min-width: 320px) {



/* Seccion Locales, Scroll */

p {
    margin-bottom: 0;
}

.imageconteiner {
    position: relative;
}

.stores__section img {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.stores__section h2 {
    padding: 0.5rem;
    margin: 0.5rem;
    text-align: center;
    word-spacing: 0.5em;
}

.textbox1 {
    position: absolute;
    bottom: 30px;
    left: 30px;
    background-color: white;
    padding: 10px;
    width: 300px;
    height: 70px;
}

}

/* -------ASIDE------- */

@media (min-width: 320px) {



}





@media(min-width: 1200px) {

    aside {
        position: fixed;
        bottom: 20px;
        right: 25px;
        z-index: 9999;
    
    }
    
    aside div {
        background-color: #452b1a;
        border-radius: 15%;
    }

}



/* -----------FOOTER---------- */


footer {
    background-color: #452b1a;
    width: 100%;
    height: 200px;
    color: white;
    padding: 20px;

    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-content: center;
}

footer h3 {
    margin-bottom: 10px;
    text-decoration: none;
    color: white;
    text-align: center;
}

.altfooter {
    text-align: center;
}

.altfooter p {
    color: white;
    text-decoration: none;
    font-size: 13px;
    padding: 0.5rem;

}

.sociallogos {
    padding: 0.5rem;
}


.us ul a li {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}

.supp ul a li {
    color: white;
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
}