/*----DESKTOP VERSION---- */
/*----ACCESORIOS SECCION---- */

h1 {
    display: flex;
    color: $cool-general;
    font-style: italic;
    font-size: $title-size__desktop;
    margin-bottom: 30px;
    justify-content: center;
}

.accesorios__products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 500px);
    justify-items: center;
    justify-content: center;
    grid-gap: 25px 30px;
    margin: 50px;
}

/*----TABLET VERSION---- */

@media (max-width: 1200px) {

    h1 {
        font-size: $title-size__tablet;
        color: $cool-general;

    }

    .accesorios__products {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, 500px);
        justify-items: center;
        justify-content: center;
        grid-gap: 25px 30px;
        margin: 10px;

    }
}

/*----MOBILE VERSION---- */

@media (max-width: 768px) {
    
    h1 {
        font-size: $title-size__mobile;
        color: $cool-general;
    }

    .accesorios__products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 20px;

    }
}