@media (min-width: 320px) {
    h2 {
        display: flex;
        justify-content: center;
        color: #452b1a;
        font-style: italic;
        margin-bottom: 30px;
    
    }
    
    main .indumentaria__products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    
    }
    
    
    @media (min-width: 1200px) {
    
        h2 {
            display: flex;
            color: #452b1a;
            font-style: italic;
            margin-bottom: 30px;
            justify-content: center;
        }
    
        main .indumentaria__products {
            display: grid;
            grid-template-columns: repeat(4, 350px);
            grid-template-rows: repeat(3, 500px);
            justify-items: center;
            justify-content: center;
            grid-gap: 25px 30px;
            margin: 10px;
        }
    

        





    
    }