
.prods__compra {
    display: grid;
    grid-template-areas: 
    "products remov subtotal"
    "listadoprods listadoprods listadoprods"
    "total2 total2 total";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto auto;
    justify-items: center;
    justify-content: center;
    grid-gap: 25px 30px;
    margin: 80px;


}

.prods__compra {

    &_prodtex1 {
        grid-area: products;
    }

    &_removetex1 {
        grid-area: remov;

    }

    &_subttex1 {
        grid-area: subtotal;
    }
}

.prods__subtotal {
    grid-area: listadoprods;

    & img {
        height: 150px;
        width: auto;
    }

    & h3 {
        font-size: medium;
    }
}

.prods__total {
    display: grid;
    grid-area: total;
}

.buy-bn {
    display: grid;
    grid-area: total;
    margin: 40px;
    }

.prods__finish {
    display: grid;
    grid-template-areas: "precio1 precio2 precio3";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    justify-items: center;
    justify-content: center;
    grid-gap: 25px 30px;
    margin: 20px;

    &_imgrez1 {
        grid-area: precio1;
    }

    &_nomrez1 {
        grid-area: precio2;
    }

    &_valuerez1 {
        grid-area: precio3;
    }
}

