@media (min-width: 320px) {

    header nav {
        background-color: white;
        margin-bottom: 50px;
    }

    .btn-marron {
        color: #452b1a;
        border-color: #452b1a;
    }

    .btn-marron:hover {
        background-color: #452b1a;
        color: white;
        border-color: #452b1a;
    }

}